<!-- banner area start  -->
<div class="banner-area banner-area2">
    <div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="single-banner single-banner-2 banner-970">
                <div class="banner-bg banner-bg2" data-background="/assets/img/acs/banner.jpg">
                </div>
                <div class="container pos-rel">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-8">
                        <div class="banner-content banner-content2 mx-auto text-center banner-content2-1 pt-155">
                            <h1 class="banner-title" data-animation="fadeInUp" data-delay=".5s">
                            Powerful Message About ACS<br> Goes Here.
                            </h1>
                            <div class="m-auto bounce">
                            <a class="btn-round" href="#services__area-2"><i
                                    class="fal fa-long-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- banner area end  -->

<!-- Services Area Start Here  -->
<section id="services__area-2" class="services__area-2 fix grey-bg-2 pt-120 pb-120" data-background="/assets/img/services/services-bg.png">
    <div class="services__section-area wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="services__section">
                <div class="section__title mb-95">
                    <span class="sub-title">services</span>
                    <h2 class="title">what we do</h2>
                </div>
                <div class="services-two-nav">
                    <div class="services-button-prev"><i class="fas fa-long-arrow-left"></i></div>
                    <div class="services-button-next"><i class="fas fa-long-arrow-right"></i></div>
                </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="services-two">
                <div class="swiper-container services-two-active">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="services__item text-center">
                            <div class="services__item-icon mb-35">
                                <i class="flaticon-boat"></i>
                            </div>
                            <div class="services__item-content">
                                <a href="services-details.html">
                                    <h3>ocean <br> transportation</h3>
                                </a>
                                <p>The quality data, best network building
                                    uptime, fastest output
                                </p>
                            </div>
                            <div class="services__item-shape">
                            </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="services__item text-center">
                            <div class="services__item-icon mb-35">
                                <i class="flaticon-plane"></i>
                            </div>
                            <div class="services__item-content">
                                <a href="services-details.html">
                                    <h3>airways <br> transportation</h3>
                                </a>
                                <p>The quality data, best network building
                                    uptime, fastest output
                                </p>
                            </div>
                            <div class="services__item-shape">
                            </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="services__item text-center">
                            <div class="services__item-icon mb-35">
                                <i class="flaticon-frontal-truck"></i>
                            </div>
                            <div class="services__item-content">
                                <a href="services-details.html">
                                    <h3>road <br> transportation</h3>
                                </a>
                                <p>The quality data, best network building
                                    uptime, fastest output
                                </p>
                            </div>
                            <div class="services__item-shape">
                            </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="services__item text-center">
                            <div class="services__item-icon mb-35">
                                <i class="flaticon-boat"></i>
                            </div>
                            <div class="services__item-content">
                                <a href="services-details.html">
                                    <h3>ocean <br> transportation</h3>
                                </a>
                                <p>The quality data, best network building
                                    uptime, fastest output
                                </p>
                            </div>
                            <div class="services__item-shape">
                            </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="services__item text-center">
                            <div class="services__item-icon mb-35">
                                <i class="flaticon-plane"></i>
                            </div>
                            <div class="services__item-content">
                                <a href="services-details.html">
                                    <h3>airways <br> transportation</h3>
                                </a>
                                <p>The quality data, best network building
                                    uptime, fastest output
                                </p>
                            </div>
                            <div class="services__item-shape">
                            </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="services__item text-center">
                            <div class="services__item-icon mb-35">
                                <i class="flaticon-frontal-truck"></i>
                            </div>
                            <div class="services__item-content">
                                <a href="services-details.html">
                                    <h3>road <br> transportation</h3>
                                </a>
                                <p>The quality data, best network building
                                    uptime, fastest output
                                </p>
                            </div>
                            <div class="services__item-shape">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Services Area End Here  -->

<!-- Help CTA Area Start Here  -->
<section class="help__cta overlay bg-css overlay-red pt-50 pb-20" data-background="/assets/img/cta/help-cta-bg.png">
    <div class="container">
    <div class="row align-items-center wow fadeInUp" data-wow-duration="1.5s"
    data-wow-delay=".3s">
        <div class="col-md-8">
            <div class="help__cta-title mb-30">
                <h2>New to cargo service? need help?</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="help__cta-btn text-lg-end mb-30">
                <a class="skew-btn" href="contact.html">get a quote</a>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Help CTA Area End Here  -->

<!-- Team Area Start Here  -->
<section class="team__area pt-120 pb-70">
    <div class="container">
    <div class="row justify-content-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
        <div class="col-md-8">
                <div class="section__title mb-50 text-center">
                <span class="sub-title">team</span>
                <h2 class="title">our experts</h2>
                </div>
        </div>
    </div>
    <div class="row wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
        <div class="col-lg-4 col-md-6">
                <div class="team__item team__overlay p-relative mb-50 clip-box">
                <div class="team__item-img w-img">
                    <img src="/assets/img/team/t-8.png" alt="Team Images">
                </div>
                <div class="team__item-text p-absolute">
                    <span>founder</span>
                    <a href="team-details.html">
                            <h3>alonso d. dowson</h3>
                    </a>
                    <div class="team__social">
                            <a href="#">fb</a>
                            <a href="#">tw</a>
                            <a href="#">be</a>
                            <a href="#">ln</a>
                    </div>
                </div>
                </div>
        </div>
        <div class="col-lg-4 col-md-6">
                <div class="team__item team__overlay p-relative mb-50 clip-box">
                <div class="team__item-img w-img">
                    <img src="/assets/img/team/t-9.png" alt="Team Images">
                </div>
                <div class="team__item-text p-absolute">
                    <span>CEO & Founder</span>
                    <a href="team-details.html">
                            <h3>Blaine H. Vallejo</h3>
                    </a>
                    <div class="team__social">
                            <a href="#">fb</a>
                            <a href="#">tw</a>
                            <a href="#">be</a>
                            <a href="#">ln</a>
                    </div>
                </div>
                </div>
        </div>
        <div class="col-lg-4 col-md-6">
                <div class="team__item team__overlay p-relative mb-50 clip-box">
                <div class="team__item-img w-img">
                    <img src="/assets/img/team/t-6.png" alt="Team Images">
                </div>
                <div class="team__item-text p-absolute">
                    <span>Web Designer </span>
                    <a href="team-details.html">
                            <h3>Marcos A. Maurer</h3>
                    </a>
                    <div class="team__social">
                            <a href="#">fb</a>
                            <a href="#">tw</a>
                            <a href="#">be</a>
                            <a href="#">ln</a>
                    </div>
                </div>
                </div>
        </div>
    </div>
    </div>
</section>
<!-- Team Area End Here  -->

<!-- Brand Area Start Here  -->
<div class="brand white-bg two border-tb">
    <div class="container-fluid p-0 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
        <div class="swiper-container brand-active-2">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper text-center">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="brand-items-2">
                        <a href="#"><img src="/assets/img/brand/bc1.png" alt="Brand"></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-items-2">
                        <a href="#"><img src="/assets/img/brand/bc2.png" alt="Brand"></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-items-2">
                        <a href="#"><img src="/assets/img/brand/bc3.png" alt="Brand"></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-items-2">
                        <a href="#"><img src="/assets/img/brand/bc4.png" alt="Brand"></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-items-2">
                        <a href="#"><img src="/assets/img/brand/bc5.png" alt="Brand"></a>
                    </div>
                </div>                    
                <div class="swiper-slide">
                    <div class="brand-items-2">
                        <a href="#"><img src="/assets/img/brand/bc6.png" alt="Brand"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand Area End Here  -->

<!-- About Us 2 Area Start Here  -->
<section class="about__area-2 pt-120 pb-60 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
    <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-xl-5">
            <div class="about__content-2 mb-60 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".5s">
                <div class="section__title mb-50">
                <span class="sub-title">about us</span>
                <h2 class="title">A company involved in <br> servicing, maintenance.</h2>
                </div>
                <div class="about__content-tab-2 mt-40">
                <ul class="nav mb-5" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active clip-lg-btn" id="approch-tab" data-bs-toggle="tab"
                            data-bs-target="#approch" type="button" role="tab" aria-controls="approch"
                            aria-selected="true">our approch</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link clip-lg-btn" id="goal-tab" data-bs-toggle="tab"
                            data-bs-target="#goal" type="button" role="tab" aria-controls="goal"
                            aria-selected="false">our goal</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link clip-lg-btn" id="mision-tab" data-bs-toggle="tab"
                            data-bs-target="#mision" type="button" role="tab" aria-controls="mision"
                            aria-selected="false">our mision</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="approch" role="tabpanel"
                        aria-labelledby="approch-tab">
                        <p>From finance, retail, and travel, to social media, cybersecurity, adtech,
                            and more, market leaders are leveraging web data to maintain their transt
                            advantage. Discover how it can work for you.
                        </p>
                        <div class="about__content-tab-btn mt-35">
                            <a class="fill-btn clip-md-btn" href="about-us.html">learn more</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="goal" role="tabpanel" aria-labelledby="goal-tab">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't
                            look even slightly believable.</p>
                        <div class="about__content-tab-btn mt-35">
                            <a class="fill-btn clip-md-btn" href="about-us.html">learn more</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="mision" role="tabpanel" aria-labelledby="mision-tab">
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                            Ipsum passages, and more recently with desktop publishing software like Aldus.</p>
                        <div class="about__content-tab-btn mt-35">
                            <a class="fill-btn clip-md-btn" href="about-us.html">learn more</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-7">
            <div class="about__img-2 mb-60 ml-60 w-img p-relative wow fadeInLeft" data-wow-duration="1.5s"
                data-wow-delay=".3s">
                <img src="/assets/img/about/about-us-2.png" alt="About">
                <div class="about__btn-2">
                <a href="https://www.youtube.com/watch?v=5Gsam6jyRI0"
                    class="popup-video play-btn play-btn-white"><i class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- About Us 2 Area End Here  -->

<%= render "layouts/blocks/cities" %>

<%= render "layouts/blocks/funfacts" %>

<%= render "layouts/blocks/faq" %>
