    <!-- Blog Area Start Here  -->
    <section class="blog pt-120 pb-85 white-bg">
        <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-8 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
                    <div class="section__title mb-75 text-center">
                    <span class="sub-title">news insights</span>
                    <h2 class="title">our blog & insights</h2>
                    </div>
            </div>
        </div>
        <div class="blog-two">
            <div class="row">
                    <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-6">
                                <article>
                                <div class="blog__item mb-60 w-img wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".6s">
                                    <div class="blog__item-img mb-35">
                                            <a href="blog-details.html"><img src="assets/img/blog/blog-page-img-3.jpg" alt="Blog"></a>
                                            <div class="blog__meta dp-blog-meta1">
                                            <span><a href="blog-details.html"><i class="fas fa-comments"></i>5
                                                        comments</a></span>
                                            <span> <a href="#"><i class="fas fa-user"></i> Hunhu La.</a></span>
                                            </div>
                                    </div>
                                    <div class="blog__item-date">
                                            <span><b>20 </b>JUN</span>
                                    </div>
                                    <div class="blog__item-content">
                                            <h2><a href="blog-details.html">Need an emergency car service...</a></h2>
                                            <div class="blog__item-text">
                                            <p>From finance, retail, and travel, to social media, cyber
                                                security, adtech, and more, market leaders.
                                            </p>
                                            </div>
                                    </div>
                                </div>
                                </article>
                        </div>
                        <div class="col-md-6">
                                <article>
                                <div class="blog__item mb-60 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".9s">
                                    <div class="blog__item-img mb-35 w-img">
                                            <a href="blog-details.html"><img src="assets/img/blog/blog-page-img-1.jpg" alt="Blog"></a>
                                            <div class="blog__meta dp-blog-meta1">
                                            <span><a href="blog-details.html"><i class="fas fa-comments"></i>5
                                                        comments</a></span>
                                            <span> <a href="#"><i class="fas fa-user"></i> Hunhu La.</a></span>
                                            </div>
                                    </div>
                                    <div class="blog__item-date">
                                            <span><b>12 </b>mar</span>
                                    </div>
                                    <div class="blog__item-content">
                                            <h2><a href="blog-details.html">Fluid Responsive Typography...</a></h2>
                                            <div class="blog__item-text">
                                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                                                roots in a piece</p>
                                            </div>
                                    </div>
                                </div>
                                </article>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".9s">
                    <div class="row">
                        <div class="col-12">
                                <div class="blog__title-wrapper mb-60">
                                <article>
                                    <div class="blog__title-inner">
                                            <div class="blog__item-date">
                                            <span><b>05</b>nov</span>
                                            </div>
                                            <div class="blog__item-title">
                                            <h4><a href="blog-details.html">Global provider products for everyone</a></h4>
                                            </div>
                                    </div>
                                </article>
                                <article>
                                    <div class="blog__title-inner">
                                            <div class="blog__item-date">
                                            <span><b>10 </b>feb</span>
                                            </div>
                                            <div class="blog__item-title">
                                            <h4><a href="blog-details.html">In promotion advertising testimonial</a></h4>
                                            </div>
                                    </div>
                                </article>
                                <article>
                                    <div class="blog__title-inner">
                                            <div class="blog__item-date">
                                            <span><b>13</b>apr</span>
                                            </div>
                                            <div class="blog__item-title">
                                            <h4><a href="blog-details.html">Logistics seeks to be a premier, profitable</a>
                                            </h4>
                                            </div>
                                    </div>
                                </article>
                                </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Blog Area End Here  -->