    <!-- Gallery Section Start  -->
    <section class="dp-gallery-area grey-bg-3 pt-120 pb-120">
        <div class="container">
        <div class="row align-items-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
            <div class="col-xl-7 col-lg-8 col-12">
                    <div class="section__title gallery-section-title mb-55">
                    <span class="sub-title">delivery coverage</span>
                    <h2 class="title">We reach all corners in Southern California</h2>
                    </div>
            </div>
            <div class="col-xl-5 col-lg-4 col-12">
                    <div class="services-two-nav dp-gallery-nav text-end">
                    <div class="services-button-prev"><i class="fas fa-long-arrow-left"></i></div>
                    <div class="services-button-next"><i class="fas fa-long-arrow-right"></i></div>
                    </div>
            </div>
        </div>
        </div>
        <div class="dp-gallery-active swiper-container wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                    <div class="dp-single-gallery">
                    <div class="dp-gallery-thumb">
                        <img class="img-fluid" src="/assets/img/cities/anaheim.jpeg" alt="gallery-image">
                    </div>
                    <div class="dp-gallery-content">
                        <div class="dp-gallery-content-text">
                            <h4 class="dp-gallery-title"><a href="portfolio-details.html">Anaheim</a></h4>
                            <span>Orange County</span>
                        </div>
                        <div class="dp-gallery-link">
                            <a href="portfolio-details.html"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    </div>
            </div>                
            <div class="swiper-slide">
                    <div class="dp-single-gallery">
                    <div class="dp-gallery-thumb">
                        <img class="img-fluid" src="/assets/img/cities/burbank.jpeg" alt="gallery-image">
                    </div>
                    <div class="dp-gallery-content">
                        <div class="dp-gallery-content-text">
                            <h4 class="dp-gallery-title"><a href="portfolio-details.html">Burbank</a></h4>
                            <span>Los Angeles</span>
                        </div>
                        <div class="dp-gallery-link">
                            <a href="portfolio-details.html"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    </div>
            </div>                
            <div class="swiper-slide">
                    <div class="dp-single-gallery">
                    <div class="dp-gallery-thumb">
                        <img class="img-fluid" src="/assets/img/cities/Hollywood.jpeg" alt="gallery-image">
                    </div>
                    <div class="dp-gallery-content">
                        <div class="dp-gallery-content-text">
                            <h4 class="dp-gallery-title"><a href="portfolio-details.html">Hollywood</a></h4>
                            <span>Los Angeles</span>
                        </div>
                        <div class="dp-gallery-link">
                            <a href="portfolio-details.html"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    </div>
            </div>                
            <div class="swiper-slide">
                    <div class="dp-single-gallery">
                    <div class="dp-gallery-thumb">
                        <img class="img-fluid" src="/assets/img/cities/san_bernardino.jpeg" alt="gallery-image">
                    </div>
                    <div class="dp-gallery-content">
                        <div class="dp-gallery-content-text">
                            <h4 class="dp-gallery-title"><a href="portfolio-details.html">San Bernardino</a></h4>
                            <span>Inland Empire</span>
                        </div>
                        <div class="dp-gallery-link">
                            <a href="portfolio-details.html"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    </div>
            </div>                
            <div class="swiper-slide">
                    <div class="dp-single-gallery">
                    <div class="dp-gallery-thumb">
                        <img class="img-fluid" src="/assets/img/cities/san_diego.jpeg" alt="gallery-image">
                    </div>
                    <div class="dp-gallery-content">
                        <div class="dp-gallery-content-text">
                            <h4 class="dp-gallery-title"><a href="portfolio-details.html">San Diego</a></h4>
                            <span>San Diego</span>
                        </div>
                        <div class="dp-gallery-link">
                            <a href="portfolio-details.html"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
        </div>  
    </section>
    <!-- Gallery Section End  -->