    <!-- Funfact area start  -->
    <section class="dp-funfact-area pt-120 pb-90">
        <div class="container">
        <div class="dp-funfactor-grid wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
            <div class="dp-funfact-wrapper mb-30">
                    <div class="dp-funfact-icon">
                    <i class="fal fa-clock"></i>
                    </div>
                    <div class="dp-funfact-content">
                    <h3 class="counter">7</h3>
                    <p>Years in Business</p>
                    </div>
            </div>               
            <div class="dp-funfact-wrapper mb-30">
                    <div class="dp-funfact-icon">
                    <i class="fal fa-users"></i>
                    </div>
                    <div class="dp-funfact-content">
                    <h3 class="counter">80</h3>
                    <p>Drivers</p>
                    </div>
            </div>               
            <div class="dp-funfact-wrapper mb-30">
                    <div class="dp-funfact-icon">
                    <i class="fal fa-truck"></i>
                    </div>
                    <div class="dp-funfact-content">
                    <h3 class="counter">17227</h3>
                    <p>On Time Deliveries</p>
                    </div>
            </div>
            <div class="dp-funfact-wrapper mb-30">
                    <div class="dp-funfact-icon">
                    <i class="fal fa-city"></i>
                    </div>
                    <div class="dp-funfact-content">
                    <h3 class="counter">387</h3>
                    <p>Cities Served</p>
                    </div>
            </div>  
        </div>
        </div>
    </section>
    <!-- Funfact area end  -->