<%
   def url(city)

      city.split(' ').join('-').downcase

   end
%>
<!-- header area start  -->
<header>
   <div id="header-sticky" class="header__two header__two-space menu-sticky">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-xl-2 col-6">
               <div class="logo">
               <%= link_to image_tag("/assets/img/logo/logo.png"), root_path %>
               </div>
            </div>
            <div class="col-xl-7 d-none d-xl-block">
               <div class="main-menu main-menu-2 t-right">
                  <nav id="mobile-menu">
                     <ul>

                        <li class="menu-item-has-children">
                           <a href="services.html">services</a>
                           <ul class="sub-menu">
                              <li><a href="same-day-delivery">Same Day Delivery</a></li>
                              <li><a href="next-day-delivery">Next Day Delivery</a></li>
                           </ul>
                        </li>

                        <li class="menu-item-has-children">
                           <a href="#">locations</a>
                           <ul class="sub-menu">
                              <% cities.each do | city | %>
                              <li><a href="<%= url( city ) %>"><%= city %></a></li>
                              <% end %>
                           </ul>
                        </li>

                        <li class="menu-item-has-children">
                           <a href="about-american-courier-services">about</a>
                           <ul class="sub-menu">
                              <li><a href="faq">FAQ</a></li>
                              <li><a href="careers">Careers</a></li>
                              <li><a href="contact">Contact</a></li>
                           </ul>
                        </li>

                        <li>
                           <i class="fas fa-user"></i>
                           <%= link_to 'Sign in', new_login_session_path %>
                           
                        </li>

                     </ul>
                  </nav>
               </div>
               <div class="header__two-btn t-right d-block d-lg-none text-end">
                  <a href="contact.html" class="fill-btn clip-btn">get estimate</a>
               </div>
            </div>
            <div class="col-xl-3 col-6">
               <div class="header__two-btn lh-1 t-right d-none d-xl-block">
                  <a href="contact.html" class="fill-btn clip-btn">get estimate</a>
               </div>
               <div class="text-end d-xl-none d-block">
                  <div class="header__toggle-btn sidebar-toggle-btn">
                     <div class="header__bar">
                        <span></span>
                        <span></span>
                        <span></span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Sidebar Area Start Here  -->
   <div class="sidebar__area">
      <div class="sidebar__wrapper">
         <div class="sidebar__close">
            <button class="sidebar__close-btn" id="sidebar__close-btn">
               <i class="fal fa-times"></i>
            </button>
         </div>
         <div class="sidebar__content">
            <div class="sidebar__logo mb-40">
               <a href="index.html">
                  <img src="assets/img/logo/logo.png" alt="logo.png">
               </a>
            </div>
            <div class="sidebar__search mb-25">
               <form action="#">
                  <div class="single-input-field">
                     <input name="name" type="text" placeholder="Search Here">
                     <i class="fas fa-search"></i>
                  </div>
               </form>
            </div>
            <div class="mobile-menu fix mb-10 mean-container">
            </div>
            <div class="sidebar__contact mt-30 mb-30">
               <div class="sidebar__info fix">
                  <div class="sidebar__info-item">
                     <div class="sidebar__info-icon">
                        <i class="flaticon-telephone-call"></i>
                     </div>
                     <div class="sidebar__info-text">
                        <span>Call us now</span>
                        <h5><a href="tel:32622266600">326 222 666 00</a></h5>
                     </div>
                  </div>
                  <div class="sidebar__info-item">
                     <div class="sidebar__info-icon">
                        <i class="flaticon-envelope"></i>
                     </div>
                     <div class="sidebar__info-text">
                        <span>Email now</span>
                        <h5><a href="mailto:info@webdow.com">info@webdow.com</a></h5>
                     </div>
                  </div>
                  <div class="sidebar__info-item">
                     <div class="sidebar__info-icon">
                        <i class="flaticon-pin"></i>
                     </div>
                     <div class="sidebar__info-text">
                        <span>12/A, New Boston Hall</span>
                        <h5>New york, united states</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="sidebar__social">
               <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <!-- Sidebar Area Start Here  -->
   <div class="body-overlay"></div>
</header>